name: Checkin

on:
  workflow_dispatch:
  push:
    tags:
      - v*.*.*
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: printing directory location
        run: ls -al
      - name: print readme
        run: cat README.md
